GCS_IS_ContinuousCodeReview_v6.0.2/CodeCheckConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Dave Pemberton (Software AG) -->
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="parameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter" type="xs:string"/>
	<xs:element name="exclusions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="exclusion" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="exclusion" type="xs:string"/>
	<xs:element name="implementation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="class"/>
				<xs:element ref="parameters"/>
				<xs:element ref="exclusions" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="class" type="xs:string"/>
	<xs:element name="checks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="check" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="multichecks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="multicheck" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="multicheck">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="implementation"/>
				<xs:element ref="check" maxOccurs="unbounded"/>
				<xs:element ref="multiCheckResults" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="check">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="implementation"/>
				<xs:element ref="results" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ignoreFailure" type="xs:boolean"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
			<xs:attribute name="index"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodeCheckConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="globalParameters" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="globalParameter" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="description"/>
										<xs:element name="value" type="xs:string"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="type" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="checks" minOccurs="0"/>
				<xs:element ref="multichecks" minOccurs="0"/>
				<xs:element ref="sensors" minOccurs="0"/>
				<xs:element ref="Summary" minOccurs="0"/>
				<xs:element name="properties" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="packageName" type="xs:string"/>
							<xs:element name="date" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="renderers" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required"/>
			<xs:attribute name="ragStatus" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="results">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Summary"/>
				<xs:element ref="Report"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Summary">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="total" type="xs:int"/>
				<xs:element name="pass" type="xs:int"/>
				<xs:element name="fail" type="xs:int"/>
				<xs:element name="warn" type="xs:int"/>
				<xs:element name="ragStatus" type="xs:int"/>
				<xs:element name="executeTime" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MulticheckSummary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="multiCheckResults" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="multiCheckResults">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string"/>
				<xs:element name="type" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="pass"/>
							<xs:enumeration value="warn"/>
							<xs:enumeration value="fail"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element> 
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Report">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Test" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Service" type="xs:string"/>
							<xs:element name="Type" type="xs:string"/>
							<xs:element name="Value" type="xs:string" nillable="true"/>
						</xs:sequence>
						<xs:attribute name="passed" type="xs:boolean" use="required"/>
						<xs:attribute name="check-id" type="xs:string" use="required"/>
						<xs:attribute name="ragStatus" type="xs:int"/>
						<xs:attribute name="executeTime" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="resultsType">
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="value" use="required"/>
		<xs:attribute name="item"/>
	</xs:complexType>
	<xs:element name="sensors">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sensor" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="definition">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="decorator" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="class"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="sensorName"/>
									<xs:attribute name="sensorClass" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="results" type="resultsType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="resultsGroup" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="results" type="resultsType" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="name"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="scope">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="package"/>
									<xs:enumeration value="review"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="renderers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="renderer" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="parameters" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="name"/>
						<xs:attribute name="class"/>
						<xs:attribute name="scope">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="single"/>
									<xs:enumeration value="multi"/>
									<xs:enumeration value="all"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
